global 
    log stdout format raw local0

defaults
    log     global #alles word naar 1 log gestuurd
    mode    http # op welk niveau haproxy kijkt 
    option  httplog #inschakelen van meer uitgebreid log formaat voor HTTP
    option dontlognull # hierdoor logt het geen lege log regels
    timeout connect 5000ms
    timeout client  5000ms
    timeout server  5000ms

    #openstaande connecties closen na een bepaalde tijd
    timeout http-request 5s
    timeout http-keep-alive 10s


frontend http_in
    bind *:80

    # De containers publiceert HTTP op 8080 en HTTPS op 8443.
    http-request redirect prefix https://%[req.hdr(host),field(1,:)]:8443 code 301


frontend https_in 
    bind *:443 ssl crt /etc/ssl/certs/combined.pem alpn h2,http/1.1 #inschakelen van http 2 en HSTS 
    http-response set-header Strict-Transport-Security "max-age=31536000; IncludeSubDomains"


    #stript mogelijke fake headers voor je het echte IP
    http-request del-header X-Forwarded-For
    option forwardfor #forward het originele ip adres van de user als HEADER

    #headers doorgeven aan varnish / drupal
    http-request set-header X-Forwarded-Proto https # zodat op interne netwerk ook met https gebeurd. 
    http-request set-header X-Forwarded-Port 8443 # zodat drupal weet dat het port 8443 is

    #checkt of het ip adres voorkomt in deze lijst en blokeert het.
    acl is_blocked_country src -f /usr/local/etc/haproxy/blocked_ips.txt
    http-request deny status 403 if is_blocked_country

    # DDoS bescherming en rate limiting per IP adres 
    stick-table type ip size 100k expire 2m store http_req_rate(50s)
    http-request track-sc0 src # Hier word het ip adres van de bezoeker genomen
    http-request deny status 429 content-type "text/plain" string "Too many requests" if { sc_http_req_rate(0) gt 200 } # Als het aantal requests groter is dan 50 dan word het requests denied

    #Blokeer requests die geen user-agent meesturen (Word veel gebruikt in botnets)
    http-request deny status 403 content-type "text/plain" string "Forbidden" if !{ req.hdr(user-agent) -m found }

    acl bad_bots req.hdr(user-agent) -i -m sub sqlmap nikto zgrab python-requests #deze soort requests zijn vaak van botnets
    http-request deny status 403 content-type "text/plain" string "Forbidden" if bad_bots

    http-request set-var(txn.host) req.hdr(host),field(1,:),lower
    http-request set-header Host %[var(txn.host)]
    
    # Gebruik map_dom met het juiste domein meegegeven
    use_backend %[req.hdr(host),lower,map_dom(/usr/local/etc/haproxy/domains.map,bk_varnish_a)]
    

#Stuurt verkeer door naar varnish
backend bk_varnish_a
    mode http
    server varnish_a varnish-a:80 check send-proxy-v2 inter 2s fall 2 rise 2 init-addr libc,none

backend bk_varnish_b
    mode http
    server varnish_b varnish-b:80 check send-proxy-v2 inter 2s fall 2 rise 2  init-addr libc,none

